<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/#{@photo.user_id}"><%= @photo.user.username %></a>
          <small>
            <%= time_ago_in_words(@photo.updated_at) %>
          </small>
        </h3>
      </div>


      <dl class="dl-horizontal">
        <dt>Caption</dt>
        <dd><%= @photo.caption %></dd>
  
        <dt>Image</dt>
        <dd><img src="<%= @photo.image %>", class="img-responsive"></dd>
  
      </dl>

      <div class="btn-group btn-group-justified">
        <% if current_user.id != @photo.user_id %>
          <a href="/photos" class="btn btn-primary">
            Back
          </a>
        <% else %>
          <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        <% end %>
      </div>
    </div>  
  </div>
</div>
